    <footer id="sticky-footer" class="py-4 bg-dark text-white">
      <div class="container text-center">
        <small>Copyright &copy; <%= link_to "C-Miles GitHub", "https://github.com/C-Miles", class: "text-white", id: "copy-right" %></small>
      </div>
    </footer>